name: upload artifact
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  ARTIFACT_FILE: majid

jobs:
  job1:
    name: myjob
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: action/checkout@v3
      - name: uploud artifact
        uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: ./$ARTIFACT_FILE
